<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaxiManager.Properties.Settings.ConnString" connectionString="server=localhost;User Id=root;password=mysql;Persist Security Info=True;database=taxi_management"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>